<!DOCTYPE html>
<html>
<title>Product</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
<script src="https://www.google.com/recaptcha/api.js" async defer></script>



<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>
<body>


<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-black w3-large">
    <a href="/" class="w3-bar-item w3-button w3-hover-white"><i class="fa fa-home "></i> HOME</a>
    <a href="#contact" class="w3-bar-item w3-button w3-hover-white"><i class="fa fa-envelope "></i> CONTACT</a>
    </div>
</div>

<!-- Header -->
<header class="w3-container w3-theme w3-padding" id="myHeader">
  <i onclick="w3_open()" class="fa fa-bars w3-xlarge w3-button w3-theme"></i> 
  <div class="w3-center">
  <h4>OUR PRODUCTS RANGE</h4>
  <h1 class="w3-xxxlarge w3-animate-bottom">PAVER BLOCKS</h1>

  </div>
</header>
  
<!-- !PAGE CONTENT! -->
<div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">

  <!-- Team Section -->
<div class="w3-container" style="padding:5px 16px" id="team">
  <div class="w3-row-padding" style="margin-top:64px">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card">
        <img src="/images/image2.png" alt="John" style="width:100%">
        <div class="w3-container">
          <h3>Zig-Zag</h3>
          <p class="w3-opacity">Price:Rs.22- 25 per unit</p>
          <p>Red top with heavy load baering strength,comes in threee categories according to strength.</p>
          <a href="#contact"><button class="w3-button w3-light-grey w3-block"><i class="fa fa-envelope"></i> Send Request</button></a>
        </div>
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card">
        <img src="/images/image3.png" alt="Jane" style="width:100%">
        <div class="w3-container">
          <h3>Damru</h3>
          <p class="w3-opacity">Price:Rs.22- 25 per unit</p>
          <p>Red top with heavy load baering strength,comes in threee categories according to strength.</p>
          <a href="#contact"><button class="w3-button w3-light-grey w3-block"><i class="fa fa-envelope"></i> Send Request</button></a>
        </div>
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card">
        <img src="/images/image4.png" alt="Mike" style="width:100%">
        <div class="w3-container">
          <h3>Dumble</h3>
          <p class="w3-opacity">Price:Rs.22- 25 per unit</p>
          <p>Red top with heavy load baering strength,comes in threee categories according to strength.</p>
          <a href="#contact"><button class="w3-button w3-light-grey w3-block"><i class="fa fa-envelope"></i> Send Request</button></a>
        </div>
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card">
        <img src="/images/image5.jpg" alt="Dan" style="width:100%">
        <div class="w3-container">
          <h3>ckecker</h3>
          <p class="w3-opacity">Price:Rs.22- 25 per unit</p>
          <p>Red top with heavy load baering strength,comes in threee categories according to strength.</p>
          <a href="#contact"><button class="w3-button w3-light-grey w3-block"><i class="fa fa-envelope"></i> Send Request</button></a>
        </div>
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card">
        <img src="/images/image7.jpeg" alt="John" style="width:100%">
        <div class="w3-container">
          <h3>checker</h3>
          <p class="w3-opacity">Price:Rs.22- 25 per unit</p>
          <p>Red top with heavy load baering strength,comes in threee categories according to strength.</p>
          <a href="#contact"><button class="w3-button w3-light-grey w3-block"><i class="fa fa-envelope"></i> Send Request</button></a>
        </div>
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card">
        <img src="/images/image8.jpeg" alt="Jane" style="width:100%">
        <div class="w3-container">
          <h3>checker</h3>
          <p class="w3-opacity">Price:Rs.22- 25 per unit</p>
          <p>Grey top with heavy load baering strength,comes in threee categories according to strength.</p>
          <a href="#contact"><button class="w3-button w3-light-grey w3-block"><i class="fa fa-envelope"></i> Send Request</button></a>
        </div>
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card">
        <img src="/images/image9.jpeg" alt="Mike" style="width:100%">
        <div class="w3-container">
          <h3>checker</h3>
          <p class="w3-opacity">Price:Rs.22- 25 per unit</p>
          <p>Grey top with heavy load baering strength,comes in threee categories according to strength</p>
          <a href="#contact"><button class="w3-button w3-light-grey w3-block"><i class="fa fa-envelope"></i> Send Request</button></a>
        </div>
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card">
        <img src="/images/image6.jpeg" alt="Dan" style="width:100%">
        <div class="w3-container">
          <h3>checker</h3>
          <p class="w3-opacity">Price:Rs.22- 25 per unit</p>
          <p>Grey top with heavy load baering strength,comes in threee categories according to strength</p>
          <a href="#contact"><button class="w3-button w3-light-grey w3-block"><i class="fa fa-envelope"></i> Send Request</button></a>
         
        </div>
      </div>
    </div>
</div>


<ul class="w3-ul w3-card-4  w3-margin-left" style="width:80%;margin-top:50px">
  <li>Transportation:Available</li>
  <li>Payment:Online/Cash</li>
  <li>GST:</li>
</ul>




    <!-- Contact -->
<div class="w3-center w3-padding-64" id="contact">
  <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16">Contact Us</span>
</div>

<form class="w3-container" action="/userdetail" method="post" id="details">
  <div class="w3-section">
    <label>Name</label>
    <input class="w3-input w3-border w3-hover-border-black" style="width:100%;" type="text" name="name" required>
  </div>
  <div class="w3-section">
    <label>Mobile</label>
    <input class="w3-input w3-border w3-hover-border-black" style="width:100%;" type="text" name="mobile" required>
  </div>
  <div class="w3-section">
    <label>Product Description</label>
    <input class="w3-input w3-border w3-hover-border-black" style="width:100%;" name="description" required>
  </div>
  <div class="g-recaptcha" data-sitekey="6LeCdvQUAAAAAGLPjwBH6kuGvlTO_-mNOCuEf8TZ" name="captcha"></div>
  <br>
  <button type="submit" class="w3-button w3-block w3-black">Send</button>

</form>

</div>
</div>
<!-- Footer -->

<footer class="w3-container w3-padding-32 w3-light-grey w3-center" id="contact">
<h4>Contact info</h4>
<div class="w3-xlarge w3-section">
  <i class="fa fa-facebook-official w3-hover-opacity"></i>
  <p><i class="fa fa-map-marker" style="width:30px"></i> Saharsa, Bihar</p>
  <p><i class="fa fa-phone" style="width:30px"></i> Phone: +91 9431243223</p>
  <p><i class="fa fa-envelope" style="width:30px"> </i> Email: mithilatiles@gmail.com</p>
</div>
</footer>
  </body>
</html>
